.hero {
  background-color: aqua;
  color: white;
  text-align: center;
  background-image:
    linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)),
    url(cane.jpg);
  background-repeat: no-repeat;
  width: 800px;
  height: 600px;
  background-position: center;
  background-size: cover;
}
