.card {
  background-color: white;
  height: 800px;
  width: 800px;
}

.card-immagine {
  background-image: url("foto\ venezia.avif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 800px;
  height: 300px;
  background-color: lightgray;
  border: 2px dashed red;
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.8),
    url("foto\ venezia.avif")
  );
  color: white;
  text-align: center;
}

.card-titolo {
  font-size: 24px;
  font-weight: bold;
  margin: 20px;
}

.card-contenuto {
  padding: 20px;
  font-size: 16px;
  line-height: 1.5;
  background-image: linear-gradient(to top, white, lightgray, gray);
  color: black;
  text-align: center;
  height: 300px;
  width: 760px;
}
