.uno {
  width: 300px;
  padding: 20px;
  border: 5px solid;
  background-color: red;
}

.due {
  box-sizing: border-box;
  width: 300px;
  padding: 20px;
  border: 5px solid;
  background-color: blue;
}
