.container {
  display: flex;
  flex-direction: row;
  width: 400px;
  flex-wrap: wrap;
  gap: 10px;
}
.box {
  width: 100px;
  height: 100px;
  background-color: blanchedalmond;
  border: 2px solid red;
  text-align: center;
}
