.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 200px);
  grid-template-rows: repeat(4, 200px);
}

.item1 {
}

.item2 {
}

.item3 {
}

.item4 {
}

.item5 {
}

.item6 {
}

.item7 {
}
