.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 200px);
  grid-template-rows: repeat(3, 200px);
}

.item1 {
  grid-column: span 2;
  grid-row: span 2;
  background-color: red;
}

.item2 {
  grid-column: span 1;
  background-color: orange;
}

.item3 {
  grid-column: span 1;
  background-color: yellow;
}

.item4 {
  grid-column: span 2;
  background-color: green;
}

.item5 {
  grid-column: span 1;
  background-color: lightgreen;
}

.item6 {
  grid-column: span 1;
  background-color: blue;
}

.item7 {
  grid-column: span 2;
  background-color: lightblue;
}
