.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 200px);
  grid-template-rows: repeat(3, 200px);
}

.item {
  height: 100px;
  width: 100px;
  background-color: red;
  place-items: center;
  justify-items: end;
  align-items: start;
}
