.grid-uno {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.grid-due {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

.grid-tre {
  display: grid;
  grid-template-columns: 200px 1fr 1fr;
}
