.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 200px);
  grid-template-rows: repeat(4, 200px);
}

.item1 {
  grid-column: span 2;
  background-color: red;
}

.item2 {
  grid-row: span 2;
  background-color: green;
}

.item3 {
  grid-column: span 2;
  grid-row: span 2;
  background-color: blue;
}
