.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 200px);
  grid-template-rows: repeat(3, 200px);
  gap: 20px;
}

.item {
  height: 100px;
  width: 100px;
  background-color: lightcoral;
  justify-self: start;
  align-self: start;
}

.item1 {
  grid-column: 1;
  grid-row: 1;
}

.item2 {
  grid-column: 2;
  grid-row: 1;
}

.item3 {
  grid-column: 1;
  grid-row: 2;
}

.item-center {
  height: 100px;
  width: 100px;
  background-color: lightcyan;
  grid-column: 2;
  grid-row: 2;
  justify-self: center;
  align-self: center;
}

.item-bottom {
  height: 100px;
  width: 100px;
  background-color: sandybrown;
  grid-column: 3;
  grid-row: 3;
  justify-self: end;
  align-self: end;
}
