.container {
  width: 60%;
  height: 600px;
  background-color: green;
  justify-self: center;
}

@media (max-width: 1024px) {
  .container {
    width: 80%;
    background-color: blue;
    justify-self: center;
  }
}

@media (max-width: 768px) {
  .container {
    background-color: gray;
  }
}
