@media (max-width: 479px) {
  body {
    background-color: red;
  }
}

@media (min-width: 480px) {
  body {
    background-color: yellow;
  }
}

@media (min-width: 768px) {
  body {
    background-color: green;
  }
}

@media (min-width: 1025px) {
  body {
    background-color: blue;
  }
}
