.container {
  width: 100%;
  height: 600px;
  background-color: gray;
}

@media (min-width: 768px) {
  .container {
    width: 80%;
    background-color: blue;
  }
}

@media (min-width: 1024px) {
  .container {
    width: 60%;
    background-color: green;
    justify-self: center;
  }
}
